.booking-text {
    color: var(--color-neutral-100);
}


.bookBike-btn:hover {
    background-color: var(--color-dark-blue);
}
  

.bottom-container {
   width: 100%;
   height: 136px;
   position: absolute;
   bottom: 8vh;
   left: 0;
    margin: 0;
    z-index: 50;
    background-color: var(--color-neutral-700);
    overflow: hidden;
}

.booking-info {
    margin-top: 0.2rem;
    height: 100%;
    padding: 1vh 1vw;
}

.booking-info h2 {
    margin-bottom: 5px;
}

.booking-info p,
.booking-info span {
    margin-left: 10px;
}

.bookBike-btn {
    position: absolute;
    bottom: 9vh;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 90%;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary-400);
    color: var(--color-neutral-100);  
    cursor: pointer;
    z-index: 100;
}
