.ticket-card {
    position: relative;
    width: 100%;
    height: 228px;
    background-color: var(--color-success-light);
    border-radius: 15px;
    margin: 1rem 0;
    padding: 2rem 1rem;
}

.ticket-info {
    height: 60%;
}


.ticket-info h1 {
    font-size: 2.4rem;
    font-family: 'slBold';
}


.ticket-info p {
    color: var(--color-primary-100);
    font-family: 'slRegular';

}
.ticket-info p:first-of-type {
    font-family: 'slBold';
}




.ticket-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-ticket {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}

.show-ticket .icons {
    margin: 0 0.25rem;
}

.ticket-bottom span {
    font-weight: 600;
}

.book-bike:hover,
.show-ticket:hover{
    color: var(--color-neutral-400);
    stroke: var(--color-neutral-400);
  cursor: pointer;
}

.info-text {
   padding: 0.5rem 0;
}