.search-bar {
    margin: 1em auto;
    width: 96%;
    height:46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: white;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    width: 85%;
    padding: 6px 8px;
    border-radius: 5px;
}