.wrapper {
    font-size: 90%;
    width: 375px;
    height: 100%;
    background-color: var(--color-neutral-700);
    color: #fff;
    font-family: 'slRegular';
  }

  section {
    padding: 20px 5px;
 }
 .slCool {
   font-family: 'slCool';
   font-size: 30px;
 }
 .slBold {
   font-size: 30px;
   font-family: 'slBold';
 }
 .slRegular {
   font-size: 30px;
   font-family: 'slRegular';
 }

 .confirm-header {
    position: relative;
    font-family: slBold;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px 0;
    line-height: 42px;
    width: 371px;
    border-bottom: 1px solid #c1c2c7;
    font-family: 'slBold';
    overflow-x: hidden;
  }

  .confirm-header h1 {
      margin-left: 40px;
        flex: 6;
  }

  .confirm-header a {
    text-decoration: none;
    color: var(--color-neutral-100);
  }
  .confirm-header span {
      margin-right: 5px;
      flex: 1;
  }
  .confirm-header span:hover {
      color: var(--color-neutral-300);
      cursor: pointer;
  }

  .confirm-top-section {
      margin: 10px 20px;
     text-align: center;
     background-color: rgba(0,0,0,0.5);
     border-radius: 10px;
  }

  .confirm-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  }

  .btn {
      margin: 0 5px;
      width: 32px;
      height: 32px;
      border: none;
        border-radius: 5px;
        background-color: var(--color-primary-400);
        color: var(--color-neutral-100);  
        cursor: pointer;
  }

  .btn:hover {
      background-color: var(--color-dark-blue);
  }

  .btn-minus,
  .btn-plus {
      font-size: 20px;
  }

  .pay-btn-div {
      position: relative;
      width: 100%;
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: none;
  }

  .pay-btn {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90%;
    height: 32px;
    
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary-400);
    color: var(--color-neutral-100);  
    cursor: pointer;
}



.pay-btn:hover {
    background-color: var(--color-dark-blue);
}
  



  