/* 
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-left: 5px;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1em;
  }
  p {
    font-family: 'slRegular';
    color: #c1c2c7;
  } */
  .tickets-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 5px;
    background-color: var(--color-neutral-700);
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .slCool {
    font-family: 'slCool';
    
  }
  .slBold {
    
    font-family: 'slBold';
  }
  .slRegular {
    
    font-family: 'slRegular';
  }

  .tickets-wrapper h2 {
    font-family: 'slBold';
    width: fit-content;
    border-top: 5px solid var(--color-primary-400);
    padding: 5px 0;
  }

/* 
  .blue-border {
    margin: 0 0 10px 0;
    border-bottom: 5px solid var(--color-primary-400);
    width: 164px;
    height: 0.3rem;
  } */
  .ticket-holder {
    display: flex;
    margin: 5px auto;
    align-content: center;
    justify-content: center;
    background-color: #12151a;
    height: fit-content;
    width: 348px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .tickets-header {
    font-family: slBold;
    margin: 5px 5px 10px 5px;
    width: 100%;
    border-bottom: 1px solid #c1c2c7;
  }
  .biljett-typ {
    font-family: slBold;
    margin: 2px 5px 0 0px;
    width: 100%;
    border-bottom: 1px solid #c1c2c7;
    color: #f2f2f4;
  }
  .biljett-typ p,
  h3 {
    padding: 5px 0 5px 5px;
  }
  .biljett-typ p {
    font-family: slRegular;
    margin-top: 5px;
  }
  
  .hantera-biljett-subheader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .add.icons {
    width: 32px;
    height: 32px;
  }

  .hantera-biljett-subheader .icons:hover {
    stroke: var(--color-neutral-400);
    transform: scale(0.98);
  }
  
  .links {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: var(--color-primary-100);
  }
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  .space-between img,
  .space-between h3 {
    padding-right: 14px;
  }
  
  #hantera-biljetter,
  #kop-biljetter {
    width: 100%;
  }

  #hantera-biljetter h3 {
    margin: 10px 0 10px 5px;
  }
  /* #hantera-biljetter .blue-border {
    margin-top: 0px;
    width: 168px;
  }
  #kop-biljetter .blue-border {
    margin: 0px 5px;
    width: 148px;
  } */
  
  .logga-in {
    color: #c1c2c7;
    font-size: 1.2em;
    font-family: slRegular;
    margin-right: 15px;
  }
  