
  .tickets-wrapper {
    position: relative;
    width: 375px;
    height: 100%;
    padding: 5px 5px;
    background-color: var(--color-neutral-700);
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .slCool {
    font-family: 'slCool';
    
  }
  .slBold {
    font-family: 'slBold';
  }
  .slRegular {
    
    font-family: 'slRegular';
  }

  .tickets-wrapper .tickets-header {
    font-family: 'slBold';
    font-size: 1.4rem;
    width: fit-content;
    border-top: 5px solid var(--color-primary-400);
    padding: 5px 0;
    margin-bottom: 10px;
  }

  .ticket-holder {
    display: flex;
    margin: 5px auto;
    align-content: center;
    justify-content: center;
    background-color: #12151a;
    height: fit-content;
    width: 90%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  
  .ticket-type {
    font-family: slBold;
    margin: 2px 5px 0 0px;
    width: 100%;
    border-bottom: 1px solid var(--color-neutral-300);
    color: #f2f2f4;
    align-items: center;
  }

  .ticket-type p {
    padding: 2px 0 5px 5px;
  }
  .ticket-type p {
    font-family: slRegular;
    font-size: 1rem;
    color: var(--color-neutral-300);
  }

  
  .tickets-sub-header {
    width: 100%;
    border-top: 1px solid var(--color-neutral-300);
    font-size: 1.2rem;
  }

  .ticket-type h3 {
    padding: 2px 0 0px 5px;
  }
  
  .handle-tickets h3 {
    padding: 0.25rem 0;
  }

  .icons:hover {
    stroke: var(--color-neutral-300);
    transform: scale(0.98);
  }
  
  .links {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: var(--color-primary-100);
  }
  .space {
    display: flex;
    justify-content: space-between;
  }
  .space-between img,
  .space-between h3 {
    padding-right: 14px;
  }
  
  
  .logga-in {
    color: var(--color-neutral-300);
    font-size: 1rem;
    font-family: slRegular;
    margin-right: 15px;
  }


  
@media (max-width: 768px) {
  .tickets-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
  