.qrcode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0px;
    height: 100%;
}

.qrcode > img  {
    transform: scale(1.2);
    filter: drop-shadow(4px 4px rgba(0,0,0,0.3));
}

.ticket-id {
    margin-top:20px;
    font-size: 1rem;
}

.ticket-time {
    margin: 2rem auto;
    font-size:  2rem;
    font-weight: 600;
}