.add-favorite {
    width: fit-content;
    height: 46px;
    margin: 0.25rem 5%;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-600);
    font-family: 'slRegular';
}

.add {
    font-size: 20px;   
}