.add-favorite {
    width: 188px;
    height: 46px;
    margin: 0 0.5rem;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-600);
    font-family: 'slRegular';
}

.add.icons {
    width: 26px;    
    height: 26px;
}