.bike-btns-wrapper {
    width: 375px;
    height: 220px;
    position: absolute;
    bottom: 8vh;
    z-index: 100;
    background: linear-gradient(to bottom, transparent 10%, var(--color-neutral-700) 80%);
    }
    
    .bike-btn-container {
        width: 100%;
        display: flex;
    }
    
    .vehicle-btn {
    width: 188px;
    height: 42px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--color-primary-100);
    } 
    
    .book-bike {
        background-color: var(--color-neutral-700);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    
    
    .book-scooter {
        background-color: var(--color-neutral-800);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    /* .book-scooter:focus {
        background-color: var(--color-neutral-700);

    }
    
    .book-scooter:focus >.book-bike{
        background-color: var(--color-neutral-800);
    } */
    
    
    .bottom-container {
        width: 100%;
        height: 100%;
       
        margin: 0;
        background-color: var(--color-neutral-600);
        overflow: hidden;
    }

    .booking-info {
        height: 100%;
        padding: 1vh 1vw;
    }

    .booking-info h2 {
        margin-bottom: 5px;
    }

    .booking-info p,
    .booking-info span {
        margin-left: 10px;
    }


    @media (max-width: 768px) {
        .bike-btns-wrapper {
            width: 100vw;
        }

        .vehicle-btn {
            width: 50%;
        }
    }