.travel-btns-wrapper {
width: 375px;
height: 178px;
position: absolute;
bottom: 60px;
z-index: 50;
margin: 0;
background: linear-gradient(to bottom, transparent 10%, var(--color-neutral-700) 90%);
}

.travel-btn-container {
    width: 100%;
    display: flex;
}

.travel-btn {
width: 188px;
height: 42px;
border: none;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
color: var(--color-primary-100);
text-align: center;
z-index: 100;
} 

.travel-btn.search {
    background-color: var(--color-neutral-700);
}


.travel-btn.departures {
    background-color: var(--color-neutral-800);
}

.travel-btns-wrapper >.bottom-container {
    position: absolute;
    height: 118px;
    background-color: var(--color-neutral-700);
    overflow: hidden;
    padding: 0.25rem;
    padding-bottom: 5rem;
    z-index: 100;
}
/* 
.search-add {
    padding-top: 15px;
} */

@media (max-width: 768px) {
    .travel-btns-wrapper {
    width: 100vw;
  }

  .travel-btn {
      width: 50%;
  }
}

