.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-wrapper {
  position: absolute;
  max-width: 768px;
  width: 375px;
  height: 760px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--color-neutral-700);
}

@media (max-width: 40em) {
  .app-wrapper {
    width: 100vw;
    height: 100vh;
  }
}
