.App {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  
}
.app-wrapper {
  margin: 0 auto;
  width: 375px;
  height: calc(812px - 8vh);
  color: #fff;
}

.nav {
  border-top: 1px solid var(--color-neutral-400);
  position: relative;
  bottom: 0;
  margin: 0;
  height: 8vh;
  width: 100%;
  background-color: var(--color-neutral-700);
  display: inline-block;
}

.nav ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.nav ul .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

.sl-icon {
  stroke: var(--color-primary-100);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 2%;
}
.hantera-biljett-subheader .icons:hover {
  stroke: var(--color-neutral-400);
  transform: scale(0.98);
}

.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: var(--color-primary-100);
}

.links:hover,
.links:hover > .icons {
  stroke: var(--color-neutral-400);
  color: var(--color-neutral-400);
}
