
.map-container {
    height: 650px;
    width: 375px;
    z-index: 50;
    background-color: lightblue;
    }

    .bike {
        fill: #000;
        width: 22px;
        height: 22px;
    }

    .bike:hover {
        fill: var(--color-success-dark);
        cursor: pointer;
    }