
.map-container {
    
    z-index: 50;
    background-color: lightblue;
    }

    .icons.bike {
        fill: #000;
        width: 22px;
        height: 22px;
    }

    .icons.bike:active,
    .icons.bike:hover {
        fill: var(--color-success-dark);
        cursor: pointer;
    }