.map-wrapper {
      color: #fff;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      margin-bottom: 80px;
      }
      

      .landing-info h3 {
            font-size: 1.4rem;
            font-style: 'slBold';
            
      }

      .landing-info p {
            margin: 1.2rem auto;
            font-family: 'slRegular';
            text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      }

      .landing-info span {
            font-weight: 800;
            letter-spacing: 1px;
            font-style: italic;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
      }
 
